{% extends 'base.html' %} <!--base.html kalıtım aldırdık-->

{% block title %} Giriş {% endblock title %}  <!--BASLIK-->

{% block content %}

<h2>Log in</h2>
<form method='post'>         <!--veri göndereceğimiz için post metodu kullanıyoruz-->
    {% csrf_token %}     <!--güvenlik için kullandık-->
    {{form.as_p}}       <!--paragraf gösterimi için-->
    <button class="btn btn-info btn-lg" type="submit">Giriş</button>  <!--Giriş butonu-->
    <a class="btn-lg nav-item nav-link" href="{% url 'password_reset'%}">Şifrenizi mi unuttunuz ?</a>

</form>

{% endblock content %}